/* Global reset */
html{
    font-size: 62.5% !important;
  }
  
  @media only screen and (max-width: 75em) {
    html {
        font-size: 50% !important;
    }
  }
  
  @media only screen and (max-width: 56.25em) {
    html {
        font-size: 47.5% !important;
        
    }
  }
  
  @media only screen and (max-width: 37.5em) {
    html {
        font-size: 40% !important;
        margin-bottom: 100px;
    }
  }
  
  body {
    transition: all .3s ease-in-out;
  }
  
  .heading-1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-primary-light);
  }
  
  .heading-2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-white);
  }
  
  .events-section {
  width: 90%;
  margin: auto;
  }
  
  .events {
  /* width: 80%; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
  }
  
  .event {
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, .03) 0px 2px 8px 5px;
  padding: 4rem;
  border-radius: 10px;
  }
  
  .event__heading {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-primary-light);
  }
  
  .event__text {
  font-size: 1.3rem;
  line-height: 1.6;
  }
  
  .img{
    min-height: 0;
    min-width: 0;
    height: 40vh;
    width: 25vw;
    object-fit: contain;
  }
  
  
  