{% extends 'base.htm' %}
{% block title %}
About SIGF
{% endblock %}
{% block content %}
<section class="bg-gray-100 text-gray-800">
    <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">

        <h2 class="mb-12 text-5xl font-bold leading-none text-center sm:text-6xl">About SIGF</h2>
        <div class="grid gap-10 md:gap-8 sm:p-3  lg:px-12 xl:px-32">
            <div></div>
            <h1 class="text-bold text-3xl text-justify">The Student Internet Governance Forum (SIGF) is multistakeholder
                platform, wherein high school students can discuss pressing issues in the field of internet and digital
                policy. The discussions will permit the students to develop a deeper understanding of the aforementioned
                issues and contribute to the policymaking space.</h1>

            <div class="flex flex-cols-2 gap-10">
                <div class=" w-1/2 text-justify text-xl">
                    This will be achieved through the creation of Special Interest Groups (SIGs), which will discuss an
                    internet or technology policy topic of their choice at SIGF conferences, in addition to creating
                    posters or research articles detailing the various perspectives/views on their topic of choice.
                    These SIGs will entirely be composed of high school students and be overseen by SIGF fellows along
                    with an adult mentor of the SIG's choice.
                </div>
                <div class="w-1/2 text-justify text-xl">
                    SIGF is particularly relevant in today's day and age given the complete penetration of technology in
                    the lives of the youth and the great influence it holds. As such, understanding how technology
                    affects the youth and how these effects can be managed is of great importance, and enabling the
                    youth to directly voice their perspective will aid in this effort.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="members-section">
    <h1 class="heading-1 mb-2 text-center font-bold text-4xl mt-8">The Team</h1>
    <p class="members__des text-center text-2xl">The people who make it happen.</p>
    <div class="members my-16 grid grid-cols-1 lg:grid-cols-3">
        <div class="member">
            <p class="name">Kavish Garg</p>
            <p class="post">Chairperson</p>
            <p class="member__des">The chairperson oversees all SIGF operations. The position is generally elected by
                SIGs and existing Fellows.</p>
        </div>

        <div class="member">
            <p class="name">Manan Awal</p>
            <p class="post">Fellow</p>
            <p class="member__des">Fellows serve alongside the chairperson on the central committee of SIGF, and oversee
                conference logistics and SIG applications and operations.</p>
        </div>

        <div class="member">
            <p class="name">Darshan Shah</p>
            <p class="post">Fellow</p>
            <p class="member__des">Fellows serve alongside the chairperson on the central committee of SIGF, and oversee
                conference logistics and SIG applications and operations.</p>
        </div>

        <div class="member">
            <p class="name">Sujit Bhattacharya</p>
            <p class="post">Fellow</p>
            <p class="member__des">Fellows serve alongside the chairperson on the central committee of SIGF, and oversee
                conference logistics and SIG applications and operations.</p>
        </div>

        <div class="member">
            <p class="name">Tijil Chhabra</p>
            <p class="post">Director Technology</p>
            <p class="member__des">The Director oversees all SIGF technology operations.</p>
        </div>

        <div class="member">
            <p class="name">Gaurang Khera</p>
            <p class="post">Developer</p>
            <p class="member__des">Member of tech team and supports in the technological operations of SIGF.</p>
        </div>

        <div class="member">
            <p class="name">Aditya Madan</p>
            <p class="post">Developer</p>
            <p class="member__des">Member of tech team and supports in the technological operations of SIGF.</p>
        </div>

        <div class="member">
            <p class="name">Abhishree Bhardwaj</p>
            <p class="post">Designer</p>
            <p class="member__des">Member of tech team and supports in the technological operations of SIGF.</p>
        </div>

        <div class="member">
            <p class="name">Disha Sanganeriya</p>
            <p class="post">Social Media Manager</p>
            <p class="member__des">The social media manager oversees all social media operations of SIGF.</p>
        </div>

        <div class="member">
            <p class="name">Siddharth Jain</p>
            <p class="post">Social Media Manager</p>
            <p class="member__des">The social media manager oversees all social media operations of SIGF.</p>
        </div>
    </div>
</section>
{% endblock %}