<html>

<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>SIGF | {% block title %}

    {% endblock %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c416e79406.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/members.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bulletin.css')}}">
  <script async defer src="http://platform.instagram.com/en_US/embeds.js"></script>
  <style>
    @font-face {
      font-family: 'Akira';
      src: url('/static/fonts/Akira-Expanded-Demo.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Coolvetic';
      src: url('/static/fonts/coolvetica-rg.ttf') format('truetype');
    }
  </style>
</head>

<body class="bg-cover bg-gray-100" style="font-family: 'Coolvetic', sans-serif;">
  <header class="p-4 bg-gray-100 text-gray-800">
    <div class="container flex justify-between h-16 mx-auto">
      <a rel="noopener noreferrer" href="/" aria-label="Back to homepage" class="flex items-center p-2">
        <h1 class="lg:text-4xl text-5xl" title="Home">SIGF</h1>
      </a>
      <ul class="items-stretch hidden space-x-3 lg:flex text-2xl">
        <li class="flex">
          <a rel="noopener noreferrer" href="{{url_for('index')}}"
            class="flex items-center px-4 -mb-1 border-b-2 border-transparent group transition-all duration-300 ease-in-out"><span class="bg-left-bottom bg-gradient-to-r from-gray-500 to-gray-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-0.5s ease-out" title="Home">Home</span></a>
        </li>
        <li class="flex">
          <a rel="noopener noreferrer" href="{{url_for('about')}}"
            class="flex items-center px-4 -mb-1 border-b-2  border-transparent group transition-all duration-300 ease-in-out"><span class="bg-left-bottom bg-gradient-to-r from-gray-500 to-gray-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-0.5s ease-out" title="About SIGF">About</span></a>
        </li>
        <li class="flex">
          <a rel="noopener noreferrer" href="{{url_for('sigfz')}}"
            class="flex items-center px-4 -mb-1 border-b-2  border-transparent group transition-all duration-300 ease-in-out"><span class="bg-left-bottom bg-gradient-to-r from-gray-500 to-gray-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-0.5s ease-out" title="About SIGF||Z">SIGF||Z</span></a>
        </li>
        {% if not current_user.is_authenticated %}
        <li class="flex">
          <a rel="noopener noreferrer" href="{{url_for('register')}}"
            class="flex items-center px-4 -mb-1 border-b-2  border-transparent group transition-all duration-300 ease-in-out"><span class="bg-left-bottom bg-gradient-to-r from-gray-500 to-gray-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-0.5s ease-out" title="Register as a SIG">Register</span></a>
        </li>
        <li class="flex">
          <a rel="noopener noreferrer" href="{{url_for('login')}}"
            class="flex items-center px-4 -mb-1 border-b-2 border-transparent group transition-all duration-300 ease-in-out"><span class="bg-left-bottom bg-gradient-to-r from-gray-500 to-gray-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-0.5s ease-out" title="Login to your account">Login</span></a>
        </li>

        {% else %}
        <li class="flex">
          <a rel="noopener noreferrer" href="{{url_for('logout')}}"
            class="flex items-center px-4 -mb-1 border-b-2  border-transparent" title="Logout of your account">Logout</a>
        </li>
        {% endif %}
        {% if current_user.email1 == 'admin@studentigf.net' %}
        <li class="flex">
          <a rel="noopener noreferrer" href="{{url_for('admin_dashboard')}}"
            class="flex items-center px-4 -mb-1 border-b-2  border-transparent" title="Administrator dashboard">Admin
            Dashboard</a>
        </li>
        {% endif %}
        <li class="flex">
          <a rel="noopener noreferrer" href="{{url_for('apply')}}"
            class="flex items-center px-4 -mb-1 border-b-2 group transition-all duration-300 ease-in-out border-transparent"><span class="bg-left-bottom bg-gradient-to-r from-gray-500 to-gray-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-0.5s ease-out" title="Apply to be a member of the SIGF team">Apply</span></a>
        </li>
      </ul>
      <button class="flex justify-end p-4 lg:hidden" id="ham">
        <ion-icon name="reorder-two-outline" class="text-5xl text-gray-600"></ion-icon>
      </button>
      <button class="hidden flex justify-end p-4 lg:hidden" id="cross">
        <ion-icon name="close-outline" class="text-5xl text-gray-600"></ion-icon>
      </button>
    </div>
  </header>
  <div class="hidden mobile-menu bg-gray-100" id="mobile">
    <ul class="">
      <li class="active">
        <a href="{{url_for('index')}}" class="block text-xl ml-10 px-2 py-4 ">Home
        </a>
      </li>
      <li>
        <a href="{{url_for('about')}}" class="block text-xl ml-10 px-2 py-4 ">
          About
        </a>
      </li>
      <li>
        <a href="{{url_for('register')}}" class="block text-xl ml-10 px-2 py-4 ">
          Register
        </a>
      </li>
      <li>
        <a href="{{url_for('login')}}" class="block text-xl ml-10 px-2 py-4 ">
          Login
        </a>
      </li>
      <li>
        <a href="{{url_for('apply')}}" class="block text-xl ml-10 px-2 py-4 ">
          Apply
        </a>
      </li>
    </ul>
    <hr>
  </div>
  {% block content %}

  {% endblock %}
  <footer class="px-4 py-8 bg-gray-100 text-gray-600">
    <div class="container flex flex-wrap items-center justify-center mx-auto space-y-4 sm:justify-between sm:space-y-0">
      <div class="flex flex-row pr-3 space-x-4 sm:space-x-8">
        <div class="flex items-center w-32 h-32 p-2 justify-center flex-shrink-0 rounded-full ">
          <img src="{{url_for('static', filename='img/IIGF.png')}}">
        </div>

      </div>
      <ul class="flex flex-wrap pl-3 space-x-4 sm:space-x-8">
        <li>
          <a rel="noopener noreferrer" href="https://www.instagram.com/studentigf/">Instagram</a>
        </li>
        <li>
          <a rel="noopener noreferrer" href="mailto:admin@studentigf.net">Mail</a>
        </li>
        <li>
          <a rel="noopener noreferrer" href="https://twitter.com/sigfofficial">Twitter</a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>