{%extends 'base.htm'%}
{% block title %}
SIGF Challenge 2
{% endblock %}
{%block content%}
<div class="flex flex-col  p-6 rounded-md sm:p-10 bg-gray-100 text-gray-800">
    <div class="mb-8 text-center">
        <h1 class="my-3 text-4xl">SIGF Challenge 2</h1>

    </div>
    <section>
        <h2 class="text-2xl">Guidelines</h2>
        To ensure equitable access to the SIGFChallenge, the challenge will operate dual-route. The first method of participation is via a sixty-second video, which is to be uploaded to a social media handle. The other method of participation is via an approximately 100 word written response. Participation via the first method is highly encouraged. 
        <br>
        <br>
        The best responses will be featured on our social media pages and in our events. The creators/authors of the best responses will also receive a certificate of merit, and an opportunity to participate in SIGF events and interface with policymakers and researchers. 
        <br>
        <br>
        <h3 class="text-lg">Route 1: Video</h3>
        Create a 60 second video on any topic related to the internet, technology, social media, or digital society that affects you as a student. Upload the same to Instagram and tag @studentigf, and also add the following hashtag in your caption for the post/reel: #sigfchallenge 

        Mention your full name, school, and grade/standard/year in the caption. 
        <br>
        <br>
        <h3 class="text-lg">Route 2: Written Response </h3>
        Write a 100 word piece on any topic related to the internet, technology, social media, or digital society that affects you as a student.
    </section>
    <form action="/sigf-challenge-2" method='POST'
        class="space-y-12 mx-auto max-w-[550px] bg-gray-100 w-full ng-untouched ng-pristine ng-valid">
        {{form.hidden_tag()}}
        {{form.csrf_token}}
        <div class="space-y-4">
            <div>
                <label for="email" class="block mb-2 text-lg">Full name</label>
                {{form.f_name(placeholder="John Doe", class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50
                text-gray-800")}}
            </div>
            <div>
                <label for="email" class="block mb-2 text-lg">School</label>
                {{form.school(placeholder="", class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50
                text-gray-800")}}
            </div>
            <div>
                <label for="email" class="block mb-2 text-lg">Age</label>
                {{form.age(class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50
                text-gray-800")}}
            </div>
            <div>
                <label for="email" class="block mb-2 text-lg">City/District</label>
                {{form.city(placeholder="John Doe", class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50
                text-gray-800")}}
            </div>
            <div>
                <div class="flex justify-between mb-2">
                    <label for="password" class="text-lg">Email</label>
                </div>
                {{form.email(placeholder="john@doe.com", class="w-full px-3 py-2 border rounded-md border-gray-300
                bg-gray-50 text-gray-800")}}
            </div>
            <div>
                <div class="flex justify-between mb-2">
                    <label for="password" class="text-lg">Your writeup</label>
                </div>
                {{form.writeup(rows=10, cols=90, class='rounded-md bg-gray-50')}}
            </div>
            <h1 class="text-red-400 text-lg">Please make sure to schedule an interview <a
                    href="https://calendly.com/kavishgarg/25-minute-meeting"
                    class="hover:underline text-red-400 font-bold" target="_blank">here.</a></h1>
        </div>
        <div class="space-y-2">
            {{form.submit(class='w-full px-8 py-3 transition-all hover:bg-blue-700 rounded-md bg-blue-600
            text-gray-50')}}
            <p class="px-6 text-lg text-center text-gray-600">Not an SIG yet?
                <a rel="noopener noreferrer" href="{{url_for('register')}}"
                    class="hover:underline text-blue-600">Register Now</a>.
            </p>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $('form').on('submit', function (e) {
        alert('Submission successful.');
    })
</script>
{%endblock%}