{%extends 'base.htm'%}
{% block title %}
Register
{% endblock %}{%block content%}

<div class="flex flex-cols items-center justify-center mt-8">
  <h1 class="text-black text-4xl">Register as SIG</h1>
</div>
<div class="flex items-center justify-center p-12">

  <div class="mx-auto w-full max-w-[550px]">
    <form method="POST">
      {{form.hidden_tag()}}
      {{form.csrf_token}}
      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Member 1 Name
        </label>
        {{form.name1(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}

      </div>

      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Member 2 Name
        </label>
        {{form.name2(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>

      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Member 3 Name
        </label>
        {{form.name3(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>

      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Member 4 Name
        </label>
        {{form.name4(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Member 1 School
        </label>
        {{form.school1(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Member 2 School
        </label>
        {{form.school2(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Member 3 School
        </label>
        {{form.school3(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Member 4 School
        </label>
        {{form.school4(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Email
        </label>
        {{form.email1(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Backup Email
        </label>
        {{form.emailb(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>

      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Phone Number
        </label>
        {{form.phone1(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Backup Phone Number
        </label>
        {{form.phoneb(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Adult Mentor Name
        </label>
        {{form.am_name(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Adult Mentor Email
        </label>
        {{form.am_email(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>


      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Adult Mentor Phone Number
        </label>
        {{form.am_phone(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md mb-2")}}
        Password
        </label>
        {{form.password(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>



      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Confirm Password
        </label>
        {{form.pass_confirm(placeholder="...",
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280]
        outline-none focus:border-[#6A64F1] focus:shadow-md")}}
      </div>
      {{form.submit(class='w-full px-8 py-3  transition-all hover:bg-blue-700 rounded-md bg-blue-600
      text-gray-50')}}
    </form>
  </div>
</div>

{%endblock%}