{% extend 'base.htm' %}
{% block title %} SIGF||Z {%endblock title%}
{%block content%}
  <div class="h-16 flex flex-cols justify-center items-center mx-10 mt-10">
    <h1 class=" font-bold text-xl lg:md:text-7xl">Harnessing the Youth for Evolution</h1>
  </div>
  <section class="p-6 mt-5 text-gray-800">
	<div class="container mx-auto grid justify-center grid-cols-2 text-center lg:grid-cols-3">
		<div class="flex flex-col justify-start m-2 lg:m-6">
			<p class="text-4xl font-bold leading-none lg:text-6xl">25+</p>
			<p class="text-sm sm:text-base">Questions</p>
		</div>
		<div class="flex flex-col justify-start m-2 lg:m-6">
			<p class="text-4xl font-bold leading-none lg:text-6xl">5+</p>
			<p class="text-sm sm:text-base">Problems</p>
		</div>
		<div class="flex flex-col justify-start m-2 lg:m-6">
			<p class="text-4xl font-bold leading-none lg:text-6xl">2</p>
			<p class="text-sm sm:text-base">Focus Areas</p>
		</div>
		
	</div>
</section>


<section class="bg-gray-100 text-gray-800 text-justify">
	<div class="container max-w-xl p-6 py-12 mx-auto space-y-24 lg:px-8 lg:max-w-7xl">
		<div>
			<h2 class="text-3xl font-bold tracking-tight text-center sm:text-5xl text-gray-900">Focus Area 1 : </h2>
			<p class="max-w-3xl mx-auto mt-4 text-xl text-center text-gray-600">The Evolution of Education for Industry 5.0</p>
		</div>
		<div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
			<div>
				<h3 class="text-2xl font-bold tracking-tight sm:text-3xl text-gray-900">Education, Academic Integrity, & Artificial Intelligence</h3>
				<p class="mt-3 text-lg text-gray-900">The rapid development and accessibility of artificial intelligence technology puts traditional teaching pedagogies at the risk of obsolescence. Increasingly advanced chatbots and AI aided proofreading/writing tools may now permit students to vastly augment their work and raises questions of ethics and policy which require urgency.</p>
				<div class="mt-12 space-y-12">
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 1 - </h4>
							<p class="mt-2 text-gray-600">In what ways would the advent of artificial intelligence technologies impact education and academic integrity? What is the current position of the existing policy framework on this issue?</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 2 - </h4>
							<p class="mt-2 text-gray-600">How and to what degree, if at all, should the education system permit the utilisation of artificial intelligence technologies?</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 3 - </h4>
							<p class="mt-2 text-gray-600">Which enforcement or detection mechanisms can be created to maintain academic honesty? Is a greater reliance on mutual trust an inevitability?</p>
						</div>
					</div>

                    <div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 4 - </h4>
							<p class="mt-2 text-gray-600"> In what ways should stakeholders collaborate to enhance the education provided to students?</p>
						</div>
					</div>
				</div>
			</div>
			<div aria-hidden="true" class="mt-10 lg:mt-0">
				<img src="https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1232&q=80" alt="" class="mx-auto rounded-lg shadow-lg bg-gray-500">
			</div>
		</div>
		<div>
			<div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
				<div class="lg:col-start-2">
					<h3 class="text-2xl font-bold tracking-tight sm:text-3xl text-gray-900">Technology, Curriculum, & Thinking Skills</h3>
					<p class="mt-3 text-lg text-gray-900">The drastically altered workplace, accessibility of technology, and the increasing divergence between the demands of school education, university education, and the workplace itself calls for a re-examination of our current pedagogies and curricula. Bridging social and economic gaps in education while maintaining the relevance of education raises questions of policy and pedagogy.</p>
					<div class="mt-12 space-y-12">
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 1 -</h4>
								<p class="mt-2 text-gray-600">How effective is our current education and curriculum framework in addressing the needs of the workplace? What is the nature of the relationship between schools and higher education institutions, and to what degree do the policies of one restrict the other?</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 2 - </h4>
								<p class="mt-2 text-gray-600"> What is the current scenario in education? To what degree has the use of technology been integrated, and how do existing education policies envision the same?</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 3 -</h4>
								<p class="mt-2 text-gray-600"> How and to what degree, if at all, should the utilisation of technology such as calculators and laptops be permitted? How, if at all, would the thinking skills of students be impacted, and how, if at all, might this impact be remedied?</p>
							</div>
						</div>
                        <div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 4 -</h4>
								<p class="mt-2 text-gray-600"> What social and economic considerations must be made while formulating policy decisions on technology? How might these inequalities or differences be mitigated?</p>
							</div>
						</div>
                        <div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 5 -</h4>
								<p class="mt-2 text-gray-600">How must should collaboration between different stakeholders in the space be achieved to arrive at an optimal outcome for students?</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
					<img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" alt="" class="mx-auto rounded-lg shadow-lg bg-gray-500">
				</div>
			</div>
		</div>
        <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
			<div>
				<h3 class="text-2xl font-bold tracking-tight sm:text-3xl text-gray-900">Digital Literacy, Cyber-awareness, & Inclusion</h3>
				<p class="mt-3 text-lg text-gray-900">The advent of artificial intelligence technology, changing social media landscapes, and new avenues for cybercrime render a requirement to update our current practices in the space of digital literacy with a renewed focus on inclusion for all social, economic, and linguistic groups around the world.</p>
				<div class="mt-12 space-y-12">
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 1 - </h4>
							<p class="mt-2 text-gray-600">How effective are our current mediums for raising Cyberawareness and providing digital literacy? What is relationship and degree of cohesion amongst these mediums? What is the current policy framework for digital literacy and cyber-awareness?</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 2 - </h4>
							<p class="mt-2 text-gray-600">How does the advent of new social media and messaging platforms or practices alter the requirements for Cyberawareness and digital literacy? What new threats to potentially educate for, emerge? How does this impact adolescents, and what specific measures may be necessary to cater to this demographic?
                            </p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 3 - </h4>
							<p class="mt-2 text-gray-600">How must cooperation between stakeholders be handled to ensure digital literacy is achieved universally?</p>
						</div>
					</div>

                    <div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 4 - </h4>
							<p class="mt-2 text-gray-600"> How might linguistic, religious, regional, or ability-induced barriers impact the achievement of digital literacy? How can these issues be solved?</p>
						</div>
					</div>
				</div>
			</div>
			<div aria-hidden="true" class="mt-10 lg:mt-0">
				<img src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="" class="mx-auto rounded-lg shadow-lg bg-gray-500">
			</div>
		</div>
	</div>
</section>

<section class="bg-gray-100 text-gray-800 text-justify">
	<div class="container max-w-xl p-6 py-12 mx-auto space-y-24 lg:px-8 lg:max-w-7xl">
		<div>
			<h2 class="text-3xl font-bold tracking-tight text-center sm:text-5xl text-gray-900">Focus Area 2 : </h2>
			<p class="max-w-3xl mx-auto mt-4 text-xl text-center text-gray-600">The New Frontier of Entertainment: Video Games and Extended Reality</p>
		</div>
		<div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
			<div>
				<h3 class="text-2xl font-bold tracking-tight sm:text-3xl text-gray-900">Gaming, Addiction, & Responsible Consumption</h3>
				<p class="mt-3 text-lg text-gray-900">The increasing popularity and accessibility of video games across the world has led to the rise of “gaming disorder” as a phenomenon, as psychologically rewarding behaviours in video games and the culture around it plunges adolescents into a self- reinforcing feedback loop leading to addition. This scenario raises various doubts from the regulation perspective, especially as extended reality (VR/AR) becomes a reality.</p>
				<div class="mt-12 space-y-12">
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 1 - </h4>
							<p class="mt-2 text-gray-600">In what ways do video games affect adolescents? Are these effects long-lasting? What current policy frameworks, psychological treatments, or mechanisms exist to aid in treatment?</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 2 - </h4>
							<p class="mt-2 text-gray-600"> How might the increasing popularity of extended reality (XR) video games or entertainment affect adolescents? What policies or treatments may be instituted to lessen any harmful impacts and amplify the positive ones?</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 3 - </h4>
							<p class="mt-2 text-gray-600">In what ways should stakeholders collaborate in order to arrive at an ideal outcome for video game/extended reality users?</p>
						</div>
					</div>

                    <div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 4 - </h4>
							<p class="mt-2 text-gray-600">  How should questions of balance between freedom, healthy social interaction, and addiction be handled for video games? How might age, social environment, or language factor into this decision? Are any regulations necessary?</p>
						</div>
					</div>
				</div>
			</div>
			<div aria-hidden="true" class="mt-10 lg:mt-0">
				<img src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="mx-auto rounded-lg shadow-lg bg-gray-500">
			</div>
		</div>
		<div>
			<div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
				<div class="lg:col-start-2">
					<h3 class="text-2xl font-bold tracking-tight sm:text-3xl text-gray-900">Interaction, Communities, & a Safe Video Game Culture</h3>
					<p class="mt-3 text-lg text-gray-900">Advances in connectivity around the globe and the rise in popularity of multiplayer games raises the potential for malicious, unregulated, and dangerous interactions amongst adolescents within multiplayer video games and associated communities. With the advent of extended reality, the stakes grow as the distinction between the real world and the game world blurs.</p>
					<div class="mt-12 space-y-12">
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 1 -</h4>
								<p class="mt-2 text-gray-600"> What is the current state of video game culture around the world? What impacts might it have on its members? What current mechanisms exist to enable a safe video game culture?</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 2 - </h4>
								<p class="mt-2 text-gray-600"> How might the advent of extended reality (XR) games alter video game culture? How would the existing policy framework deal with them? What grievance redressal or enforcement mechanisms might exist to minimise negative interactions?</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 3 -</h4>
								<p class="mt-2 text-gray-600">What should an ideal video game culture look like? How does one balance the trilemma between freedom of speech and expression, a safe and positive culture, and balanced stakeholder power?</p>
							</div>
						</div>
                        <div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 4 -</h4>
								<p class="mt-2 text-gray-600">In what ways should stakeholders collaborate in order to arrive at an ideal outcome for video game/extended reality players?</p>
							</div>
						</div>
                        
					</div>
				</div>
				<div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
					<img src="https://images.unsplash.com/photo-1552820728-8b83bb6b773f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="mx-auto rounded-lg shadow-lg bg-gray-500">
				</div>
			</div>
		</div>
        <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
			<div>
				<h3 class="text-2xl font-bold tracking-tight sm:text-3xl text-gray-900">Microtransactions, Monetization, & Financial Prudence</h3>
				<p class="mt-3 text-lg text-gray-900">The growth of video games has transformed video games from mere passion projects to multi-billion-dollar juggernauts with all the incentive to maximise profits. Patents filed by video game publishers show worrying trends of largely unregulated “nudges” to maximise microtransactions, or purchases in-game with real currency. The further advent of extended reality (XR) raises more questions.</p>
				<div class="mt-12 space-y-12">
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 1 - </h4>
							<p class="mt-2 text-gray-600"> What is the current policy framework for regulating microtransactions within games? What is the nature of the relationship between different stakeholders with regards to this issue? How are gambling-like mechanics such as “loot-boxes” dealt with?</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 2 - </h4>
							<p class="mt-2 text-gray-600"> What existing mechanisms exist to safeguard the finances and financial information of parents, in the cases of adolescent players? To what extent are these effective?
                            </p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 3 - </h4>
							<p class="mt-2 text-gray-600">To what extent are techniques used for incentivising microtransactions ethical? How, if at all, should they be regulated? How might transparency between game publishers and players be achieved?</p>
						</div>
					</div>

                    <div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 4 - </h4>
							<p class="mt-2 text-gray-600"> How would extended reality (XR) games influence this interest? What problems may arise, and what policies may be instituted to deal with them?</p>
						</div>
					</div>
                    <div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md bg-blue-600 text-gray-50">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leading-6 text-gray-900">Guiding Question 5 - </h4>
							<p class="mt-2 text-gray-600"> How might different stakeholders collaborate to arrive at an optimal outcome?</p>
						</div>
					</div>
				</div>
			</div>
			<div aria-hidden="true" class="mt-10 lg:mt-0">
				<img src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="" class="mx-auto rounded-lg shadow-lg bg-gray-500">
			</div>
		</div>
	</div>
</section>
{%endblock%}
